---
layout: default
---
<!-- page.html -->
        <div class="post">
          <header class="post-header">
            <h1 class="post-title">{{ page.title }}</h1>
            <p class="post-description">{{ page.description }}</p>
          </header>

          <article>
            <div class="course">
            {%- if page.display_categories %}
            <!-- Display categorized course -->
              {%- for category in page.display_categories %}
                <h2 class="category">{{ category }}</h2>
                {%- assign categorized_course = page.test | where: "category", category -%}
                {%- assign sorted_course = categorized_course | sort: "importance" %}
                <!-- Generate cards for each project -->
                <div class="course">
                  <ul class="ul-course">
                    {%- for course in sorted_course -%}
                      {% include course.html %}
                    {%- endfor %}
                  </ul>
                </div>
              {% endfor %}
            {%- endif -%}
            </div>
          </article>
        </div>
